
*{
    box-sizing:border-box;
}

body{
    background-position: center;
    display:flex;
    
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:-20 0 50px;
    background-image: url(./login1.jpg);

}

h1{
    font-weight:bold;
    margin:20px;
    color:rgba(226, 224, 238, 0.89)
}

/*body,html {
    /* The image used */
   /* background-image: url(./login.jpeg);
    /* Full height 
    height: 100%; 
    width: 100%;
    /* Center and scale the image nicely 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/
.container{
    justify-content:center;
    align-items:center;
    text-align: center;


}
.col-md-4{
    background:rgba(.1,0,0,.5 );
    border-radius: 10px;
    position:relative;
    overflow:hidden;
    width:475px;
    max-width: 100%;
    min-height: 350px; 
    text-align: center;
    margin:20px 20px 10px 10px;
    
    
}

.label1{

    font-size:15px;
    font-weight: bold;
    color:#ffff;
}


.form-group input{
    border-radius: 10px;
    background:#f1f2f5bb;
    padding:12px 15px;
    margin:8px 20px 10px 10px;
    justify-content:center;
    align-items:center;
    width:90%;
    border-color:rgb(64, 42, 161);
    

}

.btn btn-primary{
    border-radius: 20px;
    border:1px solid #ff4b;
    background:rgba(46, 25, 235, 0.733);
    color:rgb(231, 231, 219);
    font-size:12px;
    font-weight: bold;
    padding:12px 45px;
    letter-spacing: 1px;
    border-color:rgb(220, 221, 213);
}

.btn btn-primary:active{
    transform:scale(2.5);
}

