
*{
    box-sizing:border-box;
}





.container{
    justify-content:center;
    align-items:center;
    text-align: center;

}

.col-md-12{
    width:100%;
    height:175px;
    /*background-color: rgb(43, 226, 226);*/
    border-radius: 10px;
    position:relative;
    overflow:hidden;
    margin:20px 20px 10px 10px;

}

h1{
    font-weight:bold;
    margin:20px;
    color:rgba(35, 31, 54, 0.89);
    align-items:center;

}

.col-md-10{
    width:50%;
    height:50px;
    background-color: rgb(189, 175, 202);
    border-radius: 10px;
    overflow:hidden;
    margin:20px 20px 10px 10px;
    justify-content:right;
    position:right;



}

.button1{

    font-size:25px;
    font-weight: bold;
    color:rgb(26, 16, 16);
}

.label2{

    font-size:25px;
    font-weight: bold;
    color:#ffff;
    position:right;


}


