body,html {
    /* The image used */
    background-image: url(./pic1.jpg);
    /* Full height */
    height: 100%; 
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-md-6 {
    width: -webkit-calc((100% - 60px) / 2);
    width: -moz-calc((100% - 60px) / 2);
    width: calc((100% - 60px) / 2);
  }

.glyphicon-pencil {
    font-size: 45px;
    color:white; 
    margin-top: 20px;
    float:right; 
}

h3{
    font-size: 30px;
    color: rgb(223, 203, 203);
}

.col-md-7{
    margin-top: 80px;
    box-shadow: -1px 1px 20px 1px black;
    background: rgba(0,0,0,0.4);
}
.col-sm-4 {
    font-weight: normal;
    font-size: 20px; 
    margin-top: 10px;
    margin-left: 10px;
    color: gold;
    float: left;

}

.form-control{
    background: transparent;
    /*border-color: violet;*/
    border-top: 1px;
    border-left: 1px;
    border-right:1px ;
    margin-top: 1px;

    font-size: 15px;
}